* {
  margin: 0;
  padding: 0;
}

/****************
 Cross-Styling for input[type="range"]
 Source: https://codepen.io/thebabydino/pen/qVQLzm
 By: Ana Tudor
 ***/
[type='range'], [type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  width: 5.5em;
  height: 1em;
  background: transparent;
  font: 1em/1 arial, sans-serif;
}

[type='range']::-webkit-slider-runnable-track {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  width: 5.5em;
  height: 0.25em;
  background: #ccc;
}

[type='range']::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 5.5em;
  height: 0.25em;
  background: #ccc;
}

[type='range']::-ms-track {
  box-sizing: border-box;
  border: none;
  width: 5.5em;
  height: 0.25em;
  background: #ccc;
}

[type='range']::-webkit-slider-thumb {
  margin-top: -0.375em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  width: 1em;
  width-height: 1em;
  border-radius: 50%;
  background: #363636;
}

[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 1em;
  width-height: 1em;
  border-radius: 50%;
  background: #363636;
}

[type='range']::-ms-thumb {
  margin-top: 0;
  margin-top-box-sizing: border-box;
  margin-top-border: none;
  margin-top-width: 1em;
  margin-top-width-height: 1em;
  margin-top-border-radius: 50%;
  margin-top-background: #363636;
}

[type='range']::-ms-tooltip {
  display: none;
}

/** Fonts List **/
aside {
  position: fixed;
  width: 20%;
  height: 100vh;
}

aside h1 {
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

aside #fonts {
  width: 100%;
  height: 100%;
  background: #F9F9F9;
  font-size: 1.2rem;
  padding-left: 0;
  overflow-y: scroll;
  list-style: none;
}

aside #fonts li {
  padding: 5px;
  cursor: pointer;
}

/** Wrapper **/
main {
  position: absolute;
  width: 80%;
  height: 100vh;
  left: 20%;
  background: #212121;
}

/** Controls / Features **/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  background: #e8e8e8;
  color: #444444;
}

header .selected-font, header .size {
  width: 50%;
  text-align: left;
}

header .selected-font {
  text-indent: 10px;
}

header .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .size input[type="range"] {
  margin: 0 5px;
}

/** Content Area **/
#content {
  width: 100%;
  height: 91vh;
  font-size: 50px;
  text-align: center;
  color: #fbfbfb;
  background: #363636;
  resize: none;
  overflow-x: hidden;
  border: 0;
}

#content:focus {
  outline: 0;
}

/** Copyrights & Contributions **/
footer {
  height: 3vh;
  line-height: 3vh;
  font-family: sans-serif;
  color: #c5c5c5;
  text-align: center;
}

footer a {
  color: #c5c5c5;
}

/** Responsive Stuff **/
@media all and (max-width: 600px) {
  aside {
    width: 30%;
  }
  main {
    width: 70%;
    left: 30%;
  }
}

@media all and (min-width: 1200px) {
  aside {
    width: 15%;
  }
  main {
    width: 85%;
    left: 15%;
  }
}
/*# sourceMappingURL=main.css.map */